<div>
  <h2>Bienvenue à <%-building_type_id%> numéro <%-id%></h2>
  <ul>
    <li>Population: </li>
    <li>Nourriture:</li>
    <li>Stocks:</li>
  </ul>
</div>
<div>
  <h3>Flottes</h3>
  <ul><%_.each(fleets, function(fleet){%>
    <li><a href="#/fleets/<%-fleet.get("id")%>"><%-fleet.get("nb_vehicle")%> véhicules</a></li>
  <%})%></ul>
  <form id="fleet_form" onsubmit="return false">
    <label for="nb_vehicle">Nombre de véhicules</label>
    <input type="text" name="nb_vehicle" value="1" />
    <input type="hidden" value="<%-id%>" name="zone_id" />
    <input type="submit" value="Ajouter" />
  </form>
</div>

