<%= form_for(@fleet) do |f| %>
  <% if @fleet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fleet.errors.count, "error") %> prohibited this fleet from being saved:</h2>

      <ul>
      <% @fleet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nb_vehicle %><br />
    <%= f.number_field :nb_vehicle %>
  </div>
  <div class="field">
    <%= f.label :vehicle_type %><br />
    <%= f.collection_select(:vehicle_type_id, VehicleType.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :zone %><br />
    <%= f.collection_select(:zone_id, Zone.all, :id, :id) %>
  </div>
    <div class="field">
      <%= f.label :current_route %><br />
      <%= f.collection_select(:current_route_id, TransportRoute.all, :id, :name) %>
   </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
