<p id="notice"><%= notice %></p>

<p>
  <b>Nbvehicule:</b>
  <%= @fleet.nbVehicule %>
</p>

<p>
  <b>Vehicletype:</b>
  <%= @fleet.vehicleType %>
</p>

<p>
  <b>Zone:</b>
  <%= @fleet.zone %>
</p>


<%= link_to 'Edit', edit_fleet_path(@fleet) %> |
<%= link_to 'Back', fleets_path %>
