<%= form_for(@stock) do |f| %>
  <% if @stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% @stock.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :zone %><br />
    <%= f.collection_select(:zone_id, Zone.all, :id, :id) %>
  </div>
  <div class="field">
    <%= f.label :resource_type %><br />
    <%= f.collection_select(:resource_type_id, ResourceType.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :nb_resource %><br />
    <%= f.number_field :nb_resource %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
