<%= form_for(@transport_route) do |f| %>
  <% if @transport_route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transport_route.errors.count, "error") %> prohibited this transport_route from being saved:</h2>

      <ul>
      <% @transport_route.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :origin %><br />
    <%= f.collection_select(:origin_id, Zone.all, :id, :id) %>
  </div>
  <div class="field">
    <%= f.label :destination %><br />
    <%= f.collection_select(:destination_id, Zone.all, :id, :id) %>
  </div>
  <div class="field">
    <%= f.label :fleet %><br />
    <%= f.collection_select(:fleet_id, Fleet.all, :id, :id) %>
  </div>
  <div class="field">
    <%= f.label :resource_type %><br />
    <%= f.collection_select(:resource_type_id, ResourceType.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
