<%var zone%>
<div>
  <h2>Flotte numéro <%-id%></h2>
  <ul>
    <li><%-nb_vehicle%> véhicules </li>
    <li>stationné à <%-Jeu.region.get("zones").get(zone_id).get("building_type")%> <%-zone_id%></li>
  </ul>
</div>
<div>
  <h3>Routes</h3>
  <ul><%_.each(transportRoutes, function(route){%>
    <li>
      from <%zone=Jeu.region.get("zones").get(route.get("origin_id"))%>
      <%-zone.get("building_type")%> <%-zone.get("id")%>
      to <%zone=Jeu.region.get("zones").get(route.get("destination_id"))%>
      <%-zone.get("building_type")%> <%-zone.get("id")%>
      with <%-route.get("quantity")%>
      <%-Jeu.region.get("resourceTypes").get(route.get("resource_type_id")).get("name")%>
    </li>
  <%})%></ul>
  <form id="route_form" onsubmit="return false">
    <table>
      <tr>
        <td><label for="origin_id">Origine</label></td>
        <td><select name="origin_id">
          <%Jeu.region.get("zones").each(function(zone){%>
          <option value="<%-zone.get("id")%>"><%-zone.get("building_type")%> <%-zone.get("id")%></option>
          <%})%>
        </select></td>
      </tr>
      <tr>
        <td><label for="destination_id">Destination</label></t</td>d>
        <td><select name="destination_id">
          <%Jeu.region.get("zones").each(function(zone){%>
          <option value="<%-zone.get("id")%>"><%-zone.get("building_type")%> <%-zone.get("id")%></option>
          <%})%>
        </select></td>
      </tr>
      <tr>
        <td><label for="resource_type_id">Type de ressource</label></td>
        <td><select name="resource_type_id">
          <%Jeu.region.get("resourceTypes").each(function(resource){%>
          <option value="<%-resource.get("id")%>"><%-resource.get("name")%></option>
          <%})%>
        </select></td>
      </tr>
      <tr>
        <td><label for="quantity">Quantité</label></td>
        <td><input type="text" name="quantity" value="1" size="3"/></td>
      </tr>
    </table>
    <input type="hidden" value="<%-id%>" name="fleet_id" />
    <input type="submit" value="Ajouter" />
  </form>
</div>
