<%= form_for(@zone) do |f| %>
  <% if @zone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zone.errors.count, "error") %> prohibited this zone from being saved:</h2>

      <ul>
      <% @zone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :region %><br />
    <%= f.text_field :region %>
  </div>
  <div class="field">
    <%= f.label :buildingType %><br />
    <%= f.text_field :buildingType %>
  </div>
  <div class="field">
    <%= f.label :coordX %><br />
    <%= f.number_field :coordX %>
  </div>
  <div class="field">
    <%= f.label :coordY %><br />
    <%= f.number_field :coordY %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
