<p id="notice"><%= notice %></p>

<p>
  <b>Region:</b>
  <%= @zone.region.name %>
</p>

<p>
  <b>Building type:</b>
  <%= @zone.building_type.name unless @zone.building_type.nil? %>
</p>

<p>
  <b>Coordx:</b>
  <%= @zone.coordX %>
</p>

<p>
  <b>Coordy:</b>
  <%= @zone.coordY %>
</p>

<p>
  <b>Stocks:</b>
  <%= @zone.stocks   %>
</p>


<%= link_to 'Edit', edit_zone_path(@zone) %> |
<%= link_to 'Back', zones_path %>
