<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @region.name %>
</p>

<table>
  <tr>
    <th>Region id</th>
    <th>Buildingtype id</th>
    <th>Coordx</th>
    <th>Coordy</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @region.zones.each do |zone| %>
      <tr>
        <td><%= zone.region %></td>
        <td><%= zone.buildingType %></td>
        <td><%= zone.coordX %></td>
        <td><%= zone.coordY %></td>
        <td><%= link_to 'Show', zone %></td>
        <td><%= link_to 'Edit', edit_zone_path(zone) %></td>
        <td><%= link_to 'Destroy', zone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>



<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
