<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @region.name %>
</p>

<table>
  <tr>
    <th>Region id</th>
    <th>Building type id</th>
    <th>Coordx</th>
    <th>Coordy</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @region.zones.each do |zone| %>
      <tr>
        <td><%= zone.building_type.name %></td>
        <td><%= zone.coordX %></td>
        <td><%= zone.coordY %></td>
        <td><%= link_to 'Show', zone %></td>
        <td><%= link_to 'Edit', edit_zone_path(zone) %></td>
        <td><%= link_to 'Destroy', zone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<h2>Add a zone:</h2>
<%= form_for([@region, @region.zones.build]) do |f| %>
    <div class="field">
      <%= f.label :building_type %><br />
      <%= f.collection_select(:building_type_id, BuildingType.all, :id, :name) %>
    </div>
    <div class="field">
      <%= f.label :coordX %><br />
      <%= f.number_field :coordX %>
    </div>
    <div class="field">
      <%= f.label :coordY %><br />
      <%= f.number_field :coordY %>
    </div>
    <p>
      <%= f.submit %>
    </p>
<% end %>


<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
